
@media all and (min-width: 630px) {
  /* two column code */
.body {
        font-family: Arial, sans-serif;
        
        margin: 0;
        padding: 0;
      }

#container {
    display: flex ;
    align-items: stretch ;
    flex-flow: row wrap ;
    height: calc(100vh - 10px);
    background-color: #808080;

  }
  #navbar {
    order: 1 ;
    width: 20%;
    background-color: #4d4d4d;
    color: white;
    
  }
  #map {
    order: 2 ;
    width: 80% ;
     position: relative;
    overflow: hidden;
    /*margin-top: 50px;*/
    height: calc(100vh - 10px);
   
      }
}

@media all and (max-width: 629px) {
  /* one column code */
  .body {
        font-family: Arial, sans-serif;
        
        margin: 0;
        padding: 0;
      }
#container {
    display: flex ;
    align-items: stretch ;
    
    flex-flow: column wrap ;
    background-color: #808080;
  }
  #navbar {
    order: 1 ;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
  }
  #map {
    order: 2 ;
    width: 100% ;
    height: calc(100vh - 10px);
    
  }
}





      