* {
    box-sizing: border-box;
}
#menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
     height: calc(100vh - 10px);
}
#map {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
    height: calc(100vh - 10px);
}