* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two unequal columns that floats next to each other */
#container {
    display: flex ;
    align-items: stretch ;
    flex-flow: column wrap ;
  }
  #navbar {
    order: 2 ;
    width: 100%;
  }
  #content {
    order: 1 ;
    width: 100% ;
  }
}



